* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: snow;
}


header {
    background-color: navy;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
}
h2 {
    color: lime;

}

h3 {

    font-style: revert;

}
legend {
    font-style: inherit;
}
/* Create two columns/boxes that floats next to each other */


nav {
    float: left;
    width: 30%;
    height: 580px; /* only for demonstration, should be removed */
    background: lightgray;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: snow;
    height: 580px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;

}
#demo {

   color: #cccccc;
}
#info {
    color: #cccccc;
}

/* Style the footer */
footer {
    background-color: grey;
    padding: 10px;
    text-align: center;
    color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}