@media screen {

  .module_top, .module_bottom {
    visibility: hidden;
  }

  h1 {
    color: red;
    font-family: "Comic Sans MS";
    font-variant: full-width;
    text-align: center;

  }

  #p1 {

    text-align: center;

  }

  #link1 {

    color: red;
    font-size: xx-large;
  }

  table, td {

    border: 1px solid blue;
    padding: 20px;

  }

  .tabelle1 {
    text-align: center;
    margin: 0 auto;
    border: 1px solid blue;
    border-color: black;
    color: cyan;
    border-collapse: collapse;
  }

  #td1, #td2, #td3, #td4 {

    text-align: center;

  }

  .ultable {

    color: #008000;

  }

  body, header, html {

    background: url("Bild.jpg");
    background-size: cover;

  }

  .bild2 {

    position: absolute;
    right: 0;
    bottom: 200px;
    border: 5px solid green;
    height: 30%;
    width: auto;

  }

}

@media print {

  .bild2 {

    display: none;
  }

 .tabelle1 {

    display: none;
  }
}


/*.center-frame {
  overflow: hidden;
  width: 300px;
  height: 200px;

}
.wild-frame {

  background: url(Bild.jpg) no-repeat center;
  width: 100%;
  height: 100%;


}/*

